@import "@/styles/variables";
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  // padding: 6rem;
  padding: min(20%, 10rem) 2rem;
  min-width: 286px;
  min-height: 100vh;
  background-image: linear-gradient(#365f9da6, #365f9dc9), url("/BG.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
.wrapper {
  background: $background;
  color: $primary-text;

  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.result {
  margin-top: 1.5rem;
  color: $primary-text;
  // height: 0;
  animation: expandAnimation 0.5s linear;
}
@keyframes expandAnimation {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 4rem;
    opacity: 1;
  }
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    color: $primary-text;
  }
}

.loader {
  color: $primary-text;
}
.error {
  color: $primary-text;
}

@media only screen and (max-width: 800px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .wrapper {
    width: 100%;
  }
  .resetBtn {
    width: 100%;
  }
}
